## Об этом Jupyter Notebook

Возможно самая полезная к пониманию концепция в программировании - это понять как устроены **переменные**. Следовательно в рамках данного notebook мы сфокусируемся именно на этом. Мы начнем с изучения зачем они нужны и как их создавать. Позднее мы узнаем что такое **типы данных**. К слову переменные могут иметь разные типы данных в зависимости от того что в них хранится.

Наряду с этим мы узнаем некоторые полезные трюки, например, как *сконвертировать* один тип данных в другой. 
***

## 1. Сохранение значений и переменные
Как вы помните мы выполнили парочку арифметических операций в предыдущем Notebook. Чтобы сохранить результат арифметической операции скажем `(20-10) * 2 = 20` мы должны указать название переменной слева, например, `result`, далее указываем знак `присваивания (=)`, а с правой стороны указываем `результат вычисления`, то есть **20**. 

> Python позволяет обращаться только к данным, хранящимся в переменных.

In [1]:
result = 20

Если мы распечатаем результат, то на выходе получим: 20

In [2]:
result = 20
print(result)

20

Мы можем сначала вычислить, а потом сохранить результат вычисления `(20-10) * 2 = 20`

In [3]:
result = (20-10)*2
print(result)

20

Будьте внимательны, когда мы распечатываем результат, на выходе получается расчитанное значение, а не (20-10) * 2. Python сначала высчитывает (20-10) * 2 и после сохраняет результат в виде числа 20 в переменную **result**.

### Задание 1.2.1:
1. Сохраните результат вычисления (50 + 6) * 32 в переменную **result**. 
2. Распечатайте результат с помощью функции `print()`.

In [1]:
# Начни писать свой код ниже:

Давайте немного попрактикуемся в объявлении переменных.

### Задание 1.2.2: 
1. Сохраните значение 10 в переменную под названием "some_value"
2. Сохраните результат вычислений (38+6-2)*23 в переменную "some_result"
3. Используя функцию `print()` распечатайте:
    - значение в переменной "some_value"
    - результат сложения цифры 8 к значению переменной "some_result"
    - результат сложения значений переменных "some_result" и "some_value"

In [2]:
# Начни писать свой код ниже:

## 2. Название переменной
В предыдущем задании мы объявили парочку переменных, также мы узнали, что можем объявлять переменные с произвольным названием. Однако, названия переменных должны соответствовать синтаксическим правилам. Например, если мы попробуем назвать переменную как **"a result"**, то появится синтаксическая ошибка, потому что нам не разрешно использовать пробел между названиями переменных.

In [2]:
a result = 20

SyntaxError: invalid syntax (2584121372.py, line 1)

При объявлении переменных мы должны следовать двум основным правилам: 
1. Мы должны использовать только латинские буквы, цифры и нижнее подчерквивание (мы не можем использовать апострофы, пробелы, дефисы и т.д.)
2. Название переменной не должно начинаться с цифры.

Например, появится ошибка, если мы будем называть переменную как:

In [3]:
1_result = 2
new result = 3
sister's_vacation_day = 23
old-result = 20
price_in_$ = 20

SyntaxError: invalid decimal literal (1012266981.py, line 1)

Все названия переменных в Python **чувствительны к регистру**, помните, что переменные **"result"** и **"Result"** совсем разные переменные.

In [4]:
result = 20
Result = 30
print(result)
print(Result)

20
30

Также стоит запомнить, что нельзя в качестве имен переменных использовать ключевые слова Python, ниже можете увидеть зарезервированный Pythonом список имен:

![рисунок](https://programmera.ru/wp-content/uploads/2018/05/keywords1.png)

## 3. Обновление значений в переменных
Значение сохраненное в переменную может быть изменено или обновлено. Например, в коде ниже мы сначала сохраним в переменную значение 2 и затем обновим ее значением 20.

In [5]:
result = 2
print(result)
print(result + 1)

result = 20
print(result)

result = result + 10
print(result)

2
3
20
30

Обратите внимание на код выше:
- Сначала мы проинициизировали в переменную "result" значение 2
- "result" + 1 равняется 3, потому что в значении "result" хранится значение 2
- Когда мы к "result" прибавили 10, то мы получили уже значение 30 на выходе. Это тоже самое что result = 20 + 10, но так как ранее мы присвоили переменной result цифру 20, то выражение result = result + 10 возвращает нам 30.

Давайте сейчас немного попрактикуемся с переменными, а именно с переменной **income = 2000**.

### Задание 1.2.4:
1. Обновите значение в переменной **income** прибавив к ней 5000. 
2. Распечатайте содержимое переменной **income**

In [3]:
income = 2000 

# Начни писать свой код ниже:

**Обратите внимание как мы обновляем значение в переменной, например, используя конструкцию x = x + 1. Это сильно отличается от того что принято в математике. Выражение x = x + 1  для математики было бы ложным, так как x никогда бы не равнялось x + 1.** Оператор "=" в Python и в других языках программирования не имеет ничего общего с тем что принято в математике. 

**В Python оператор "=" означает знак присваивания**: значение справа присваивается к переменной слева, как только что мы делали с переменной **income** в задании выше. Это не означает знак равенства. Мы называем "=" оператором присваивания, и мы читаем код **x = 2** как "число два присваивается переменной x" или "x присваивается значение 2", но никак не "x равно двойке". 

Кстати, в Python есть возможность использовать сокращения в операциях сложения, вычитания, деления и умножения: `+=`, `-=`, `/=` и `*=`

In [2]:
x = 10
print(x)

x += 1    # это эквивалент записи x = x + 1
print(x)

10
11

## 4. Типы значений 
Ранее мы с вами поработали только с целочисленым (int) типом данных, конечно в Python мы можем работать и с числами с плавающей точкой (float) тоже. Для того чтобы понять с каким типом чисел или даже значением мы работаем в Python есть специальная функция `type()`. Например:

In [1]:
print(type(10))
print(type(10.))
print(type(10.0))
print(type(2.5))

<class 'int'>
<class 'float'>
<class 'float'>
<class 'float'>

Мы видим, что Python различает целочисленные и дробные значения цифр. К примеру цифра `10` имеет целочисленный тип данных **int** и дробные `10.`, `10.0` и `2.5` имеют тип **float**.

Даже если у двух цифр отличаются типы данных, например первая **int**, а вторая **float** мы все еще можем выполнить арифметические операции над ними. Например:

In [2]:
print(10 + 10.0)
print(2.5 * 5)

20.0
12.5

## Задание 1.2.5: 
1. Присвойте значение 10 переменной **value_1**
2. Присвойте значение 20.5 переменной **value_2**
3. Обновите значение **value_1**, прибавив **2.5** к текущему значению. Попробуйте использовать сокращенный стиль синтаксиса как +=. 
4. Обновите значение переменной **value_2**, умножив текущее значение на 5. Попробуйте использовать сокращенный стиль синтаксиса как *=. 
5. Распечатайте значения переменных **value_1** и **value_2** используя функцию `print()`

In [4]:
# Начни писать свой код ниже:

## 5. Конвертация типов

Возможно ли сконвертировать один тип данных в другой тип? Конечно! Например, мы можем значение типа **float()** сконвертировать в тип **int** и наоборот.

In [1]:
float(10)

10.0

In [2]:
int(2.3)

2

Будьте осторожны при конвертации в целочисленный тип **int** и заметьте, что значение `2.3` при конвертации округлилось вниз до `2`. Функция `int()` будет всегда округлять дробные числа типа **float** вниз, даже если число после запятой больше пяти. 

Однако, мы также можем использовать функцию `round()`, которая следует стандартным правилам округления.

In [3]:
round(2.3)

2

In [4]:
round(2.5)

2

In [5]:
round(2.99)

3

А вы знали, что можно комбинировать сразу несколько функций и это даже поощряется делать? Например, мы можем использовать `round()`внутри функции `print()`. Заметьте разницу с выводом результата когда мы используем просто функцию `round()`и когда используем комбинацию `print(round())`

In [6]:
print(round(2.3))
print(round(2.5))
print(round(2.99))

2
2
3

In [7]:
round(2.3)
round(2.5)
round(2.99)

3

Еще одна деталь на которую стоит обратить внимание, что функция `round()` не изменяет значение, хранящееся в переменной.

In [11]:
variable_1 = 2.5
print(round(variable_1))
print(variable_1)

2
2.5

Однако, если мы присвоим округленное значение в переменную, то оно сохранится в переменную.

In [12]:
variable_1 = round(2.5)
print(variable_1)

2

## Задание 1.2.6: 
1. Присвойте значение `11.2` переменной с названием **value_1**
2. Присвойте значение `2.5` переменной с названием **value_2** 
3. Округлите значение **value_1** используя функцию `round()`и попробуйте присвоить округленное значение обратно переменной **value_1**
4. Сконвертируйте значение переменной **value_2** из типа **float** в тип **int**, используя функцию **int()** и присвойте полученнное значение обратно переменной **value_2**. 
5. Распечатайте результат того, что хранится в переменной **value_1** и **value_2** используя функцию `print()`.

In [6]:
# Начни писать свой код ниже:

## 6. Строки
До сих пор мы работали только со значениями типа **int** и **float**. Но в языках программирования есть множество других типов данных. Посмотрите на таблицу: 

| Track_name |  Price |  Currency |  Rating_count_total | User_rating|
|------------|:------:|----------:|---------------------:|-----------:|
| Google | 0.0 | USD | 2974676 | 3.5|
| Instagram |    0.0  |   USD |2161558 |4.5|
| Clash of Clans | 0.0|    USD | 2130805 |4.5|
| Temple Run |    0.0  |   USD |1724546 |4.5|
| Pandora - Music & Radio | 0.0|    USD | 1126879 |4.5|

Источник: [Mobile App Store Data Set (Ramanathan Perumal)](https://www.kaggle.com/ramamet4/app-store-apple-data-set-10k-apps)</p>

Как мы видим в столбцах **track_name** и **currency** содержится текст не числа. В Python мы можем создавать строковые переменные используя кавычки `" "`.

In [13]:
app_name = "Instagram"
currency = "USD"

print(app_name)
print(currency)

Instagram
USD

В Python разрешено использовать как одинарные кавычки `' '`, так и двойные `" "`. Чтобы создать слово **Instagram** мы можем обернуть его в "Instagram" или 'Instagram'. Полученное значение называют строками и в Python такой тип данных обозначают как `str`.

In [14]:
type('Instagram')

str

Однако, значение строки не ограничено только буквами, мы также можем использовать цифры, пробелы и другие символы. Смотри на пример ниже:

In [1]:
bank = 'Bank'
number = 'number is 123456789'

print(bank)
print(number)

Bank
number is 123456789

### Задание 1.2.7:

1. Присвойте значение "Instagram" перменной с названием **app_name**. 
2. Присвойте значение "4.5" переменной с названием **average_rating**.
3. Присвойте значение "2161158" переменной с названием **total_ratings**.
4. Присвойте значение "data" переменной с названием **value**. 
5. Распечатайте значение переменной **app_name** используя функцию `print()`

In [7]:
# Начни писать свой код ниже: